*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
}
body {
    font-size: 1.6rem;
    max-width: 85ch;
    padding: 8px;
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    min-width: 28rem;
}
.nav-list {
    display: flex;
    justify-content: space-evenly;
}
.nav-list li {
    list-style-type: none;
    padding: 1rem;
}

li a {
    text-decoration: none;
}

/* .main {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.container {
    margin: 24px 0 24px 0;
}

.container-skills {
    margin-top: 0;
}

.container-skills .title {
    text-align: center;
}

.container-primary {
    display: flex;
    flex-flow: column wrap;
    /* gap: 10px; */
}

.container-skill {
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
}

.card-skill {
    margin-bottom: 5px;
}

.css {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-card {
    display: flex;
    align-items: center;
}

.personal {
    display: flex;
    flex-direction: column;
}
.personal .title {
    text-align: center;
}

.projects-cards {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 550px) {
    body {
        min-width: 360px;
    }
    .nav-bar {
        min-width: initial;
    }
}